<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NeoTech</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>


<div id="app">

    <table class="table table-stiped">
        <thead>
        <tr>
            <th @click="sort('continent')">Continent</th>
            <th @click="sort('region')">Region</th>
            <th @click="sort('countries')">Countries</th>
            <th @click="sort('lifeduration')">LifeDuration</th>
            <th @click="sort('cities')">Cities</th>
            <th @click="sort('languages')">Languages</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="stats in sortedStats">
            <td>{{stats.continent}}</td>
            <td>{{stats.region}}</td>
            <td>{{stats.countries}}</td>
            <td>{{stats.lifeduration}}</td>
            <td>{{stats.cities}}</td>
            <td>{{stats.languages}}</td>
        </tr>
        </tbody>
    </table>

    <p>
        <button @click="prevPage">Previous</button>
        <button @click="nextPage">Next</button>
    </p>

</div>


<script>


        const app = new Vue({
            el:'#app',
            data:{
                stats: [],
                currentSort:'Continent',
                currentSortDir:'asc',
                pageSize:15,
                currentPage:1
            },
            created:function() {
                this.loadCities();
            },
            methods:{
                async loadCities() {
                    let data = await fetch(`http://localhost:8000/v1/city/statistics`);
                    this.stats = await data.json();
                },
                sort:function(s) {
                    //if s == current sort, reverse
                    if(s === this.currentSort) {
                        this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
                    }
                    this.currentSort = s;
                },
                nextPage:function() {
                    if((this.currentPage*this.pageSize) < this.stats.length) this.currentPage++;
                },
                prevPage:function() {
                    if(this.currentPage > 1) this.currentPage--;
                }

            },
            computed:{
                sortedStats:function() {
                    return this.stats.sort((a,b) => {
                        let modifier = 1;
                        if(this.currentSortDir === 'desc') modifier = -1;
                        if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                        if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                        return 0;
                    }).filter((row, index) => {
                        let start = (this.currentPage-1)*this.pageSize;
                        let end = this.currentPage*this.pageSize;
                        if(index >= start && index < end) return true;
                    });
                }
            }
        })


    </script>
</body>
</html>
